@()

    @scripts = {
        <script>
        var require = {
            callback: function() {
                // default requirejs configs
                @for(webJarJson <- org.webjars.RequireJS.getSetupJson(routes.WebJarAssets.at("").url).values()) {
                    requirejs.config(@Html(webJarJson.toString));
                }

                requirejs.config({ paths: { "angular-file-upload": "/webjars/nervgh-angular-file-upload/1.1.5/angular-file-upload" } });
            }
        };
        </script>
        <script data-main="@routes.Assets.versioned("javascripts/angular/component/main.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.js"))"></script>
    }

    @styles = {
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("loading-bar.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("ng-table.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui.min.css"))'>
        <style>

        .my-drop-zone { border: dotted 3px lightgray; }
        .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
        .another-file-over-class { border: dotted 3px green; }

        html, body { height: 100%; }
        </style>
    }

@main("List of available components", scripts, styles) {

    <div class="container-fluid" style="padding-top : 60px;">
        <div ng-view></div>
    </div> <!-- /container -->

}
