@()

    @scripts = {
        <script>
            @Html(org.webjars.RequireJS.getSetupJavaScript(routes.WebJarAssets.at("").url))
        </script>
        <script data-main="@routes.Assets.versioned("javascripts/angular/visualizer/main.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.js"))"></script>
    }

    @styles = {
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("loading-bar.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("ng-table.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui.min.css"))'>
    }

@main("List of available visualizers", scripts, styles) {

    <div class="container-fluid" style="padding-top : 60px;">
        <div ng-view></div>
    </div> <!-- /container -->

}
