<div class="container-fluid" style="padding-top: 60px;">

    <div class="row">
        <div class="col-md-6">
            <h4>Last 10 executions</h4>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Execution start</th>
                    <th>Finished</th>
                    <th>Success</th>
                    <th>Duration</th>
                    <th>Viz</th>
                </tr>
                <tr ng-repeat="e in evaluations">
                    <td>{{e.id}}</td>
                    <td><span am-time-ago="e.createdUtc" tooltip="{{e.createdUtc | date : 'medium'}}"></span></td>
                    <td>{{e.isFinished}}</td>
                    <td>{{e.isSuccess}}</td>
                    <td>{{e.duration}}</td>
                    <td>{{e.id}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h4>Last 10 compatibility checks</h4>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Check start</th>
                    <th>Finished</th>
                    <th>Success</th>
                </tr>
            </table>
        </div>
    </div>

    <force-layout data="data"></force-layout>

</div>