<div class="container">
    <div class="block-header">
        <h2>Pipelines</h2>
    </div>
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <a ng-href="/components#/add" class="btn btn-primary">Add new</a>
                <a ng-href="#/discover" class="btn btn-default">Run discovery</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt">
                <h2 class="lvh-label hidden-xs">Available visualization pipelines</h2>

                <ul class="lv-actions actions">
                    <li>
                        <a href="">
                            <i class="md md-access-time"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown" aria-expanded="true">
                            <i class="md md-sort"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Last Modified</a>
                            </li>
                            <li>
                                <a href="">Name</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="md md-cached"></i></a>
                    </li>
                </ul>
            </div>

            <div class="lv-body">
                <div class="lv-item media" ng-repeat="pipeline in pipelines">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="media-body">
                        <a ng-href="#/detail/{{pipeline.id}}" class="lv-title" ng-bind="pipeline.title"></a>

                        <ul class="lv-attrs">
                            <li>
                                Last modified:
                                <span am-time-ago="time(pipeline.modifiedUtc, pipeline.createdUtc)"
                                    tooltip="{{time(pipeline.modifiedUtc, pipeline.createdUtc) | date : 'medium'}}">
                                </span>
                            </li>
                            <li ng-show="pipeline.isTemporary" class="warning">Temporary</li>
                            <li ng-class="{'danger': 'pipeline.isCompatible'}">
                                Compatibility:
                                <span ng-hide="pipeline.isCompatible">OK</span>
                                <span ng-show="pipeline.isCompatible">Error</span>
                            </li>
                        </ul>

                        <div class="lv-actions actions dropdown">
                            <a href="" data-toggle="dropdown" aria-expanded="true">
                                <i class="md md-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a ng-href="#/evaluate/{{pipeline.id}}">Run</a>
                                </li>
                                <li>
                                    <a ng-href="#/compatibility/check/{{pipeline.id}}">Re-check compatibility</a>
                                </li>
                                <li>
                                    <a ng-href="#/list/?discoveryId={{pipeline.pipelineDiscovery}}" ng-show="pipeline.pipelineDiscovery">Discovery details</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination lv-pagination">
            <li>
                <a aria-label="Previous" ng-click="page = page-1" ng-show="page > 1">
                    <i class="md md-chevron-left"></i>
                </a>
            </li>
            <li ng-repeat="p in pages()" ng-class="{'active': p == page}"><a href="#/{{p+1}}" ng-bind="p+1"></a></li>
            <li>
                <a href="$scope.page = $scope.page+1" aria-label="Next"  ng-show="$scope.page < total">
                    <i class="md md-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>