<div class="container-fluid" style="padding-top : 60px;">
    <div>
        <div class="panel panel-default">
            <div class="panel-body text-right">
                <a ng-href="#/discover" class="btn btn-default">Run discovery</a>
                <a ng-href="#/list" ng-click="tableParams.filter({})" class="btn btn-default">Clear filters</a>
                <a ng-href="/components#/add" class="btn btn-success">Add new</a>
            </div>
        </div>
    </div>

    <table ng-table="tableParams" class="table table-striped">
        <tr ng-repeat="pipeline in $data">
            <td data-title="'ID'">{{pipeline.id}}</td>
            <td data-title="'Title'">
                <a ng-href="#/detail/{{pipeline.id}}">{{pipeline.title}}</a>
            </td>
            <td data-title="'Compatibility'" class="text-center">
                <div class="btn-group">
                    <a ng-href="#/compatibility/{{pipeline.id}}" class="btn" ng-class="{'btn-success': 'pipeline.isCompatible', 'btn-danger': '!pipeline.isCompatible'}">
                        <span class="glyphicon glyphicon-ok" ng-show="pipeline.isCompatible"></span>
                        <span class="glyphicon glyphicon-remove" ng-show="!pipeline.isCompatible"></span>
                    </a>
                    <button type="button" class="btn dropdown-toggle" ng-class="{'btn-success': 'pipeline.isCompatible', 'btn-danger': '!pipeline.isCompatible'}" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li><a ng-href="#/compatibility/check/{{pipeline.id}}">Re-check</a></li>
                    </ul>
                </div>
            </td>
            <td data-title="'Is temporary'" class="text-center">
                <span class="glyphicon glyphicon-ok" ng-show="pipeline.isTemporary"></span>
                <span class="glyphicon glyphicon-remove" ng-show="!pipeline.isTemporary"></span>
            </td>
            <td data-title="'Discovery'" class="text-center">
                <a ng-href="#/list/?discoveryId={{pipeline.pipelineDiscovery}}" ng-show="pipeline.pipelineDiscovery">Detail</a>
            </td>
            <td data-title="'Last modified'" style="white-space: nowrap;">
                <span am-time-ago="time(pipeline.modifiedUtc, pipeline.createdUtc)" tooltip="{{time(pipeline.modifiedUtc, pipeline.createdUtc) | date : 'medium'}}"></span>
            </td>
        </tr>
        <tr ng-if="$data.length == 0">
            <td colspan="6">No available data.</td>
        </tr>
    </table>

</div>