@()
<!DOCTYPE html>
<html lang="en">
	<head>
		@Html(com.newrelic.api.agent.NewRelic.getBrowserTimingHeader())
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Google Maps</title>
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("../../../public/images/favicon.png")">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="http://localhost:9090/build/bundle.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<div id="approot"></div>
		@Html(com.newrelic.api.agent.NewRelic.getBrowserTimingFooter())

		<script src="http://localhost:9090/webpack-dev-server.js"></script>
		<script src="http://localhost:9090/build/googleMaps.bundle.js"></script>
	</body>
</html>