@(title: String)

    @scripts = {
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCesJn7XyQUzK78CRLwJusuLUR1-Wy8fVc"></script>
    }

    @requireConfig = {
        <script>
            requirejs.config({
                shim: {
                    openlayers: {
                        exports: "ol"
                    }
                },
                paths: {
                    openlayers: "@routes.WebJarAssets.at(WebJarAssets.locate("ol.js")).url.replaceAll(".js", "")"
                }
            });
        </script>
    }

    @styles = {
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("loading-bar.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui.min.css"))'>
        <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/flag-icon.min.css")'>
        <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.css")'>
    }

@main("Map", scripts, styles, requirePath = Some(routes.Assets.versioned("javascripts/angular/maps/main.js").url), requireConfig = requireConfig) {

    <div class="container-fluid" style="padding-top : 60px;">

        <div ng-view></div>
    </div> <!-- /container -->

}
