@(title: String)

    @scripts = {
        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCesJn7XyQUzK78CRLwJusuLUR1-Wy8fVc"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ol3/3.5.0/ol.min.js"></script>
        <script src="http://epsg.io/4326.js"></script>
        <script src="http://epsg.io/5514.js"></script>
        <script src="http://epsg.io/4258.js"></script>
        <script src="http://epsg.io/3857.js"></script>
    }

    @requireConfig = {
    }

    @styles = {
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("loading-bar.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui.min.css"))'>
        <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/flag-icon.min.css")'>
        <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.css")'>
    }

@ngLayout("map", "Map visualization", scripts, styles, requireConfig)