@(title: String)

@scripts = {
    <script>
            var require = {
                callback: function() {
                    @for(webJarJson <- org.webjars.RequireJS.getSetupJson(routes.WebJarAssets.at("").url).values()) {
                        requirejs.config(@Html(webJarJson.toString));
                    }

                    requirejs.config({
                        shim: {
                            openlayers: {
                                exports: "ol"
                            }
                        },
                        paths: {
                            openlayers: "@routes.WebJarAssets.at(WebJarAssets.locate("ol.js")).url.replaceAll(".js", "")"
                        }
                    });
                }
            };
        </script>
    <script data-require="@routes.Assets.versioned("javascripts/angular/map/require.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.js"))"></script>
}

@styles = {
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("loading-bar.css"))'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/flag-icon.min.css")'>
    <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.css")'>
}

@ngLayout("map", "Map visualization", scripts, styles)