@import model.entity.PipelineEvaluationId

@(evaluationId: PipelineEvaluationId)
@***
@scripts = {
    <script>
    var require = {
        callback: function() {
            // default requirejs configs
            @for(webJarJson <- org.webjars.RequireJS.getSetupJson(routes.WebJarAssets.at("").url).values()) {
                requirejs.config(@Html(webJarJson.toString)

                );
            }
        }
    };
    </script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("require.js"))"></script>
    <script>
        require(["d3js", "jquery", "material"], function(d3, $, material){

            $.ajax({
                type: "GET",
                url: "/api/skos/schemes/@evaluationId.id",
                success: function(data){
                    var list = document.getElementById("list");
                    list.innerHTML = "";

                    for (var i in data){
                        var scheme = data[i];
                        var item = document.createElement("li");
                        item.appendChild(document.createTextNode(scheme.label.variants["nolang"]));
                        list.appendChild(item);
                        item.onclick = function(){
                            (function(s){
                                document.getElementById("body").innerHTML = "";
                                onListItemClick($.extend({}, s));
                            })(scheme);
                        }
                    }
                }
            });

            var uri = "/api/v1/evaluation/@evaluationId.id/tree.json";

            function onListItemClick(scheme){

            }
        });
    </script>
}

@styles = {
    <style>
    .chart {
    display : block ;
    margin : auto ;
    margin-top : 60 px ;
    font-size : 11 px ;
    }

    rect {
    stroke : #eee ;
    fill : #aaa ;
    fill-opacity :.8 ;
    }

    rect.parent {
    cursor : pointer ;
    fill : steelblue ;
    }

    text {
    pointer-events : none ;
    }
    </style>

}

***@

@layout("Treemap visualization") {

    <div style="padding-top : 60 px ;">
        <aside id="chat">
            <ul id="list"></ul>
        </aside>
        <div id="body"></div>
    </div>

}
