@()
@main("LDVMi - upload your TTL", requirePath = Some(routes.Assets.versioned("javascripts/global/main.js").url)) {

    <div class="container">
        <div class="block-header">
            <h2>Create a LDVM datasource by from your own TTL files (max. 100 MB)</h2>
        </div>
        <div class="row">
            <div class="col-sm-6">

                <div class="card">
                    <div class="card-header ch-alt">
                        <h2>Upload <small>Upload TTL files from your machine.</small></h2>
                    </div>

                    <div class="card-body card-padding">
                        <form action="/ttlupload" method="post" enctype="multipart/form-data">

                            <div class="form-group">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-primary btn-file m-r-10">
                                        <span class="fileinput-new">Select file</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="ttlfile">
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="toggle-switch">
                                    <label for="ts1" class="ts-label">Combine with other datasources</label>
                                    <input id="ts1" type="checkbox" hidden="hidden" name="combine" value="true">
                                    <label for="ts1" class="ts-helper"></label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header ch-alt">
                        <h2>Use remote TTL <small>Paste a list of URLs containing TTL files.</small></h2>
                    </div>

                    <div class="card-body card-padding">
                        <form action="/ttldl" method="post" enctype="application/x-www-form-urlencoded">

                            <div class="form-group">
                                <div class="fg-line">
                                    <textarea name="ttlurl" id="ttlurl" class="form-control auto-size" placeholder="http://example.com/test.ttl" style="overflow: hidden; word-wrap: break-word; height: 140px;"></textarea>
                                </div>
                                <label for="ttlurl">TTL URLs (separated by newline)</label>
                            </div>

                            <div class="form-group">
                                <div class="toggle-switch">
                                    <label for="ts2" class="ts-label">Combine with other datasources</label>
                                    <input id="ts2" type="checkbox" hidden="hidden" name="combine" value="true">
                                    <label for="ts2" class="ts-helper"></label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect">Use</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /container -->
}
