<div class="container-fluid" style="padding-top: 60px;">
    <div class="row">
        <div class="col-lg-4">
            <h2>Compatibility log</h2>
            <div style="height: 500px; overflow-y: scroll">
                <ul>
                    <li ng-repeat="i in info">
                        <span ng-if="i.message" ng-bind="i.message"></span>
                        <span ng-if="!i.message"><strong>{{i|json}}</strong></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <div>
                <h2>Compatibility results</h2>
                <table class="table table-striped">
                    <tr ng-repeat="c in descriptorsCompatibility">
                        <td>
                            <i class="glyphicon glyphicon-ok" ng-show="c.isCompatible"></i>
                            <i class="glyphicon glyphicon-remove" ng-hide="c.isCompatible"></i>
                        </td>
                        <td>
                            <span ng-bind="c.descriptor.title"></span>
                        </td>
                        <td>
                            <pre ng-bind="c.descriptor.query"></pre>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>