<div class="container-fluid" style="padding-top: 60px;">
    <div class="alert alert-info">
        <div class="row">
            <div class="col-lg-10">
                This is a list of visualizers, which are able to visualize the visualization
                "{{visualizationBox.visualization.name}}".
            </div>
            <div class="col-lg-2">
                <a ng-if="!checking" href="#/compatibility/check/{{visualizationBox.visualization.id}}" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-refresh"></i> Check again</a>
            </div>
        </div>
    </div>
    <div class="alert alert-warning" ng-if="checking">
        Compatibility check in progress. Wait a few seconds, please. The page will be refreshed. If there are no new results, please, come back in a few minutes.
    </div>
    <table class="table table-striped" ng-if="!checking">
        <tr>
            <th>#</th>
            <th>Visualizer</th>
            <th>Checked on</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="compatibilityBox in compatibilityBoxes">
            <td>
                {{compatibilityBox.visualizerCompatibility.id}}
            </td>
            <td>
                {{compatibilityBox.visualizer.name}}
            </td>
            <td>
                <span am-time-ago="time(compatibilityBox.visualizerCompatibility.modifiedUtc, compatibilityBox.visualizerCompatibility.createdUtc)"></span>
            </td>
            <td>
                <a href="/visualize/{{compatibilityBox.visualizer.url}}#/id/{{compatibilityBox.visualizerCompatibility.visualizationId}}" class="btn btn-primary">Visualize</a>
            </td>
        </tr>
    </table>
</div>