<div class="container">
    <div class="block-header">
        <h2>Pipelines</h2>
    </div>

    <div ng-if="!discoveryId">
        <div class="panel panel-default">
            <div class="panel-body">
                <a ng-href="/components#/add" class="btn btn-primary">Add new</a>
                <a ng-href="#/discover" class="btn btn-default">Run discovery</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt">
                <h2 class="lvh-label hidden-xs">Available visualization pipelines</h2>
            </div>

            <div class="lv-body">
                <div class="lv-item media" ng-hide="pipelines.length">
                    No pipelines discovered. <a href="#/">Start over.</a>
                </div>
                <div class="lv-item media" ng-repeat="pipeline in pipelines">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="media-body">
                        <a ng-href="#/detail/{{pipeline.id}}?autorun={{quick}}" class="lv-title" ng-bind="pipeline.title"></a>

                        <div class="lv-actions actions dropdown">
                            <a href="" data-toggle="dropdown" aria-expanded="true">
                                <i class="md md-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a ng-href="#/detail/{{pipeline.id}}">Details</a>
                                </li>
                                <li>
                                    <a ng-href="#/evaluate/{{pipeline.id}}">Run</a>
                                </li>
                                <li>
                                    <a ng-href="#/list/?discoveryId={{pipeline.pipelineDiscovery}}" ng-show="pipeline.pipelineDiscovery">Discovery details</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination lv-pagination">
            <li>
                <a aria-label="Previous" ng-click="page = page-1" ng-show="page > 1">
                    <i class="md md-chevron-left"></i>
                </a>
            </li>
            <li ng-repeat="p in pages()" ng-class="{'active': p+1 == page}"><a href="#/{{p+1}}" ng-bind="p+1"></a></li>
            <li>
                <a ng-click="page = page+1" aria-label="Next"  ng-show="$scope.page < total">
                    <i class="md md-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>