<div class="container" style="padding-top : 60px;">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label for="visualizationName">Visualization name</label>

            <div>
                <input id="visualizationName" type="text" class="form-control" ng-model="visualizationName" placeholder="Visualization name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="datasource.endpointUri">Datasource URI</label>

            <div>
                <input id="datasource.endpointUri" type="text" class="form-control" ng-model="datasource.endpointUri" placeholder="Enter endpoint URI"/>
            </div>
        </div>
        <div class="form-group">
            <label for="datasource.graphUri">Graph URIs</label>

            <div>
                <textarea id="datasource.graphUri" class="form-control" ng-model="datasource.graphUri" placeholder="Enter graph URI"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="dsdInSeparateDatasource">DSD is in separate datasource</label>

            <div>
                <input type="checkbox" ng-model="dsdInSeparateDatasource" id="dsdInSeparateDatasource" />
            </div>
        </div>
        <div ng-show="dsdInSeparateDatasource">
            <div class="form-group">
                <label for="dsdDatasource.endpointUri">DSD Datasource URI</label>

                <div>
                    <input id="dsdDatasource.endpointUri" type="text" class="form-control" ng-model="dsdDatasource.endpointUri" placeholder="Enter endpoint URI"/>
                </div>
            </div>
            <div class="form-group">
                <label for="dsdDatasource.graphUri">DSD Graph URIs</label>

                <div>
                    <textarea id="dsdDatasource.graphUri" type="text" class="form-control" ng-model="dsdDatasource.graphUri" placeholder="Enter graph URI"></textarea>
                </div>
            </div>
        </div>
        <input type="submit" value="Add visualization" class="btn btn-primary pull-right" ng-click="submit()" />
    </form>
</div>