<div class="container" style="padding-top : 60px;">
    <form role="form" class="form-horizontal">

        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default" ng-repeat="datasource in datasources">
                    <div class="panel-heading">
                        Basic visualization properties
                    </div>
                    <div class="panel-body" style="padding: 40px">
                        <div class="form-group">
                            <label for="visualizationName">Visualization name</label>

                            <div>
                                <input id="visualizationName" type="text" class="form-control"
                                       ng-model="visualizationName"
                                       placeholder="Visualization name"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="panel panel-default" ng-repeat="datasource in datasources">
                    <div class="panel-heading">
                        Datasource {{$index+1}}

                        <button class="btn btn-danger btn-xs pull-right" ng-click="removeDatasource($index)"><i
                                class="glyphicon glyphicon-remove"></i> Remove
                            datasource
                        </button>
                    </div>
                    <div class="panel-body" style="padding: 40px">
                        <div class="form-group">
                            <label for="datasource.endpointUri">Datasource URI</label>

                            <div>
                                <input id="datasource.endpointUri" type="text" class="form-control"
                                       ng-model="datasource.endpointUri" placeholder="Enter endpoint URI"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="datasource.graphUri">Graph URIs</label>

                            <div>
                                <textarea id="datasource.graphUri" class="form-control" ng-model="datasource.graphUri"
                                          placeholder="Enter graph URI"></textarea>
                            </div>
                        </div>
                    </div>
                </div>


                <button class="btn btn-success pull-right" ng-click="addDatasource()"><i class="glyphicon glyphicon-plus"></i> Add
                    datasource
                </button>

            </div>
        </div>

        <div class="btn-toolbar center">
            <input type="submit" value="Add visualization" class="btn btn-primary pull-right" ng-click="submit()"/>
        </div>
    </form>
</div>