<div class="container-fluid" style="padding-top : 60px;">
<div>
    <div class="pull-right"><a ng-href="#/add" class="btn btn-success">Add new</a></div>
</div>
<table ng-table="tableParams" class="table table-striped">
    <tr ng-repeat="visualizationTuple in $data">
        <td data-title="'ID'">{{visualizationTuple.visualization.id}}</td>
        <td data-title="'Title'">{{visualizationTuple.visualization.name}}</td>
        <td data-title="'Endpoint'">
            <strong>{{visualizationTuple.datasource.endpointUrl}}</strong>
            <p>{{visualizationTuple.datasource.namedGraphs}}</p>
        </td>
        <td data-title="'DSD Endpoint'">
            <strong>{{visualizationTuple.dsdDatasource.endpointUrl}}</strong>
            <p>{{visualizationTuple.dsdDatasource.namedGraphs}}</p>
        </td>
        <td data-title="'Actions'" style="min-width: 150px;">

            <div class="btn-group">
                <a href="/visualize/datacube#/id/{{visualizationTuple.visualization.id}}?p={{visualizationTuple.token}}" class="btn btn-primary" ng-if="visualizationTuple.token">Last cached</a>
                <a href="/visualize/datacube#/id/{{visualizationTuple.visualization.id}}" class="btn btn-primary" ng-if="!visualizationTuple.token">DataCube</a>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/visualize/datacube#/id/{{visualizationTuple.visualization.id}}" ng-if="visualizationTuple.token">DataCube</a></li>
                    <li><a href="/visualize/map#/id/{{visualizationTuple.visualization.id}}">Map</a></li>
                    <!--<li><a href="#" ng-if="visualizationTuple.token">Versions</a></li>-->
                    <li class="divider" ng-if="visualizationTuple.token"></li>
                    <li><a href="#">Edit</a></li>
                    <li><a href="#/compatibility/{{visualizationTuple.visualization.id}}">Compatibility</a></li>
                </ul>
            </div>
        </td>
        <td data-title="'Last modified'" style="white-space: nowrap;">
            <span am-time-ago="time(visualizationTuple.visualization.modifiedUtc, visualizationTuple.visualization.createdUtc)"></span>
        </td>
    </tr>
</table>
</div>