<div>

    <aside id="chat">

    </aside>

    <section id="content">
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="card blog-post">
                        <div class="bp-header">
                            <img src="/assets/images/treemap.png" alt="" width="350" height="181">

                            <a href="#/validator/skos" class="bp-title">
                                <h2>SKOS</h2>
                                <small>Simple Knowledge Organization System</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>