<div>

    <aside id="chat">
    </aside>

    <section id="content">
        <div class="container">

            <uploader on-upload-completed="onUploadCompleted" ng-hide="id"></uploader>

            <div class="row" ng-show="id">
                <div class="col-sm-12">

                    <div class="card">
                        <div class="card-body card-padding">
                            <div class="listview lv-bordered">
                                <div class="lv-header">
                                    Validation results
                                </div>
                                <div class="lv-body">
                                    <span class="lv-item media">
                                        <span class="label label-success" ng-class="{'label-warning': validConcepts.length < concepts.length, 'label-danger': validConcepts.length == 0}">{{validConcepts.length}} of {{concepts.length}}</span> concepts valid.
                                        <span class="pull-right" ng-show="validConcepts.length > 0">
                                            <span class="btn-group">
                                                <a href="" class="btn btn-xs btn-default" ng-click="showValid = !showValid">Toggle</a>
                                            </span>
                                        </span>
                                        <ul ng-if="showValid">
                                            <li ng-repeat="concept in validConcepts"><a href="" ng-click="showDetailOf(concept)">{{concept.uri}}</a></li>
                                        </ul>
                                    </span>
                                    <span class="lv-item media">
                                        <span class="label label-success" ng-class="{'label-danger': conceptsWithoutScheme.length > 0}">{{conceptsWithoutScheme.length}}</span> Missing scheme IRI
                                        <span class="pull-right" ng-show="conceptsWithoutScheme.length > 0">
                                            <span class="btn-group">
                                                <a href="" class="btn btn-xs btn-default" ng-click="showWithoutScheme = !showWithoutScheme">Toggle</a>
                                            </span>
                                        </span>
                                        <ul ng-if="showWithoutScheme">
                                            <li ng-repeat="concept in conceptsWithoutScheme"><a href="" ng-click="showDetailOf(concept)">{{concept.uri}}</a></li>
                                        </ul>
                                    </span>
                                    <span class="lv-item media">
                                        <span class="label label-success" ng-class="{'label-danger': conceptsNotMatchingScheme.length > 0}">{{conceptsNotMatchingScheme.length}}</span> Scheme IRI not matches any resource
                                        <span class="pull-right" ng-show="showNotMatchingScheme.length > 0">
                                            <span class="btn-group">
                                                <a href="" class="btn btn-xs btn-default" ng-click="showNotMatchingScheme = !showNotMatchingScheme">Toggle</a>
                                            </span>
                                        </span>
                                        <ul ng-if="showNotMatchingScheme">
                                            <li ng-repeat="concept in conceptsNotMatchingScheme"><a href="" ng-click="showDetailOf(concept)">{{concept.uri}}</a></li>
                                        </ul>
                                    </span>
                                    <span class="lv-item media" ng-repeat="(property, concepts) in conceptsWithBrokenLinks">
                                        <span class="label label-danger">{{concepts.length}}</span> broken hierarchy link(s): <{{property}}>
                                        <span class="pull-right">
                                            <span class="btn-group">
                                                <a href="" class="btn btn-xs btn-default" ng-click="showWithBrokenLinks[property] = !showWithBrokenLinks[property]">Toggle</a>
                                            </span>
                                        </span>
                                        <ul ng-if="showWithBrokenLinks[property]">
                                            <li ng-repeat="concept in concepts"><a href="" ng-click="showDetailOf(concept)">{{concept.uri}}</a></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" ng-if="showDetailOfConcept != null">
                        <div class="card-body card-padding">
                            <div class="listview lv-bordered">
                                <div class="lv-header">
                                    Concept detail
                                </div>
                                <div class="lv-body">
                                    <span class="lv-item media">
                                        <div class="">
                                            <div class="media-body">
                                                <div class="lv-title">{{showDetailOfConcept.label.variants['nolang'] || showDetailOfConcept.label.variants['en']}}</div>
                                                <strong>In scheme:</strong> <span ng-bind="concept.schemeUri"></span>
                                                <small class="lv-small">IRI: {{showDetailOfConcept.uri}}</small>
                                                <ul class="lv-attrs">
                                                    <li ng-show="!showDetailOfConcept.schemeUri" class="danger">Scheme IRI missing</li>
                                                    <li ng-show="showDetailOfConcept.schemeUri && !schemeExists(showDetailOfConcept.schemeUri)" class="danger">Scheme IRI does not match any scheme</li>
                                                </ul>
                                                <br />
                                                <strong ng-show="showDetailOfConcept.linkUris.length">Links validation:</strong>
                                                <ul>
                                                    <li ng-repeat="(property, link) in showDetailOfConcept.linkUris">
                                                        -- ({{property}}) -- > ({{link}}):
                                                        <span class="label label-success" ng-show="linkValid(link)">OK</span>
                                                        <span class="label label-danger" ng-hide="linkValid(link)">Referenced resource not present</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body card-padding">
                            <div class="listview">
                                <div class="lv-header">
                                    SKOS schemes found in your files
                                </div>
                                <div class="lv-body">
                                    <span class="lv-item" ng-repeat="scheme in schemes">
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="lv-title">{{scheme.uri}}</div>
                                                <small class="lv-small">{{scheme.label.variants['nolang']}}</small>
                                                <br/>
                                                <a href="#/hierarchy/tree/{{id}}?uri={{uri(scheme.uri)}}"
                                                   class="btn btn-success">Visualize</a>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>