<div>

    <aside id="chat">
    </aside>

    <section id="content">
        <div class="container">

            <div class="row" ng-hide="id">
                <div class="col-sm-4">

                    <div class="card">
                        <div class="card-header ch-alt">
                            <h2>Select files <small>Upload your TTL files.</small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <input type="file" nv-file-select uploader="uploader" multiple/>
                        </div>
                    </div>

                    <div class="card" ng-show="uploader.isHTML5" nv-file-drop uploader="uploader">
                        <div>
                            <div class="well my-drop-zone" nv-file-over uploader="uploader">
                                Drop your files here
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header bgm-gray">
                            <h2>Upload your data
                                <small>Upload your data containing SKOS hierarchies and we will validate it for you.
                                </small>
                            </h2>
                        </div>

                        <div class="card-body card-padding">

                            <p>Queue length: {{ uploader.queue.length }}</p>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th ng-show="uploader.isHTML5">Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB
                                    </td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar"
                                                 ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i
                                                class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                                                ng-disabled="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div>
                                <div>
                                    Queue progress:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar"
                                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                                        ng-disabled="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"
                                        ng-disabled="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
                                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
                                        ng-disabled="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="id">
                <div class="col-sm-12">

                    <div class="card">
                        <div class="card-body card-padding">
                            <div class="listview">
                                <div class="lv-header">
                                    SKOS schemes found in your files
                                </div>
                                <div class="lv-body">
                                    <span class="lv-item" ng-repeat="scheme in schemes">
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="lv-title">{{scheme.uri}}</div>
                                                <small class="lv-small">{{scheme.label.variants['nolang']}}</small>
                                                <strong><a href="#/hierarchy/tree/{{id}}?uri={{uri(scheme.uri)}}">Visualize</a></strong>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body card-padding">
                            <div class="listview lv-bordered">
                                <div class="lv-header">
                                    Concepts
                                </div>
                                <div class="lv-body">
                                    <span class="lv-item media" ng-repeat="concept in concepts">
                                        <div class="">
                                            <div class="media-body">
                                                <div class="lv-title">{{concept.label.variants['nolang']}}</div>
                                                <strong>In scheme:</strong> <span ng-bind="concept.schemeUri"></span>
                                                <small class="lv-small">URI: {{concept.uri}}</small>
                                                <ul class="lv-attrs">
                                                    <li ng-show="!schemeExists(concept.schemeUri)" class="danger">Scheme URI does not match any scheme</li>
                                                </ul>
                                                <br />
                                                <strong ng-show="concept.linkUris.length">Links validation:</strong>
                                                <ul>
                                                    <li ng-repeat="link in concept.linkUris">
                                                        {{link}}:
                                                        <span class="label label-success" ng-show="linkExists(link)">OK</span>
                                                        <span class="label label-danger" ng-hide="linkExists(link)">Referenced entity not present</span>
                                                    </li>
                                                </ul>
                                                <span ng-show="concept.linkUris.length < 1">Root scheme</span>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>