<aside id="chat">
    <div>
        <div>
            <div ng-repeat="property in properties">
                <ul class="list-group">
                    <li class="list-group-item active">http://...{{property.uri | limitTo: -20}}
                    <li class="list-group-item" ng-repeat="value in values[property.uri]">
                        <input type="checkbox" ng-model="value.isActive"/>
                        <span ng-if="property.uri == mainProperty.uri" ng-style="value.colorStyle"
                              style="display: inline-block; min-width: 30px; min-height: 15px;"></span>
                        {{value.label.variants[""] || value.uri}}
                    </li>
                </ul>
            </div>

        </div>

        <div ng-if="queryingDataset">
            <div>
                <p>
                    <strong>Querying the dataset.</strong>
                    Right now, we are querying the dataset for {{queryingDataset}}. It may take a few minutes based on
                    the
                    size of the result and/or size of the graph the query is running against.
                </p>
                <br/><br/>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Almost complete</span>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!queryingDataset">
            <div ng-class="{'alert-danger': lastError, 'alert-info': !lastError}">
                <button class="btn btn-primary" ng-click="refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh
                </button>
                <div ng-show="lastError">
                    The last query has failed. Probably a Virtuoso timeout.
                </div>
            </div>
            <div class="alert alert-warning" ng-show="!entities && !markers">
                Change your filter settings and press refresh to see data on a map!
            </div>
        </div>

    </div>
</aside>

<osm ng-if="entities" entities="entities" colors="colors" style="width: 100%; height: 800px;"></osm>
<gmaps ng-if="!entities" fit-bounds="true" markers="markers" center="center"
       style="width: 100%; height: 100vh;"></gmaps>

<div ng-show="!(properties.length) && (!markers) && (!entities)" style="width: 100%; height: 100vh; position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.6)">
    <div class="container" style="margin-top: 30px; ">
        <div ng-show="!queryingDataset">
            <div class="card">
                <div class="card-header bgm-red">
                    <h2>No filtering properties discovered <small>We are not able to provide facets for this visualization.</small></h2>
                </div>

                <div class="card-body card-padding">
                    Press the 'Refresh' button to visualize all unfiltered data. It may take a while. If the dataset is really large,
                    the visualization will probably slow down your browser.
                </div>
            </div>

            <div class="card" ng-show="last-error">
                <div class="card-header bgm-red">
                    <h2>Error</h2>
                    <small>We are having troubles while querying the dataset.</small>
                </div>

                <div ng-show="lastError">
                    The last query has failed. Probably a Virtuoso timeout.
                </div>
            </div>

            <div class="card">
                <div class="card-body card-padding text-center">
                    <button class="btn btn-primary" ng-click="refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh
                    </button>
                </div>
            </div>
        </div>

        <div ng-show="queryingDataset">
            <div class="card">
                <div class="card-body card-padding text-center">
                    We are loading the data necessary for the selected visualization. Please wait a moment...
                </div>
            </div>
        </div>
    </div>
</div>