<div>
    <div class="pull-right"><a ng-href="#/discovery" class="btn">Run discovery</a></div>
    <div class="pull-right"><a ng-href="/components#/add" class="btn btn-success">Add new</a></div>
</div>
<table ng-table="tableParams" class="table table-striped">
    <tr ng-repeat="component in $data">
        <td data-title="'ID'">{{component.id}}</td>
        <td data-title="'URI'">{{component.name}}</td>
        <td data-title="'Title'">{{component.title}}</td>
        <td data-title="'Type'">{{component.url}}</td>
    </tr>
    <tr ng-if="$data.length == 0">
        <td colspan="4">No available data.</td>
    </tr>
</table>