<div>
    <aside id="chat">
        <div class="listview lv-bordered lv-lg" ng-if="!queryingDataset">
            <div class="lv-header-alt">
                <h2 class="lvh-label hidden-xs">Available schemes</h2>
            </div>

            <div class="lv-body">
                <div class="lv-item media" ng-repeat="scheme in schemes">
                    <div class="media-body">
                        <div class="lv-title">
                            <a href="{{uri(scheme)}}" ng-click="loadScheme(scheme)">
                                {{ scheme | label }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="queryingDataset">
            Loading ...
        </div>
    </aside>

    <section>
        <div class="container" ng-if="queryingDataset">
            <div class="card">
                <div class="card-header bgm-blue">
                    <h2>Querying the dataset.
                        <small>Please, wait.</small>
                    </h2>
                </div>

                <div class="card-body card-padding">
                    Right now, we are querying the dataset. It may take a few minutes
                    based on the size of the result and/or size of the graph the query is running against.
                    <br/><br/>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Almost complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" ng-if="!queryingDataset">
            <div class="card" ng-hide="scheme">
                <div class="card-header bgm-blue">
                    <h2>Select a scheme.</h2>
                </div>

                <div class="card-body card-padding">
                    Open the right menu and select a scheme to visualize it.
                </div>
            </div>
        </div>

        <div class="container-fluid" ng-if="!queryingDataset">
            <div class="card" ng-show="scheme">
                <div class="card-body card-padding">

                    <div class="btn-group">
                        <button class="btn btn-default" ng-repeat="t in visualizations" ng-click="switch(t.key)" ng-class="{'btn-primary': visType == t.key}">{{t.label}}</button>
                    </div>

                    <div ng-repeat="t in visualizations" ng-show="visType == t.key">
                        <div style="padding: 10px">
                            Embed link: <input type="text" value="{{embedUrl(t.key, true)}}" class="form-control" />
                        </div>

                        <iframe width="100%" height="800" ng-src="{{embedUrl(t.key)}}" frameborder="0"></iframe>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>