<div>
    <aside id="chat">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt">
                <h2 class="lvh-label hidden-xs">Available schemes</h2>
            </div>

            <div class="lv-body">
                <div class="lv-item media" ng-repeat="scheme in schemes">
                    <div class="media-body">
                        <div class="lv-title">
                            <a href="{{uri(scheme)}}" ng-click="loadScheme(scheme)">
                                {{ scheme | label }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <section id="content">
        <div class="container" ng-if="queryingDataset">
            <div class="card">
                <div class="card-header bgm-red">
                    <h2>Querying the dataset.
                        <small>Please, wait.</small>
                    </h2>
                </div>

                <div class="card-body card-padding">
                    Right now, we are querying the dataset. It may take a few minutes
                    based on the size of the result and/or size of the graph the query is running against.
                    <br/><br/>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Almost complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" ng-if="!queryingDataset">
            <div class="card" ng-hide="scheme">
                <div class="card-header bgm-blue">
                    <h2>Select a scheme.</h2>
                </div>

                <div class="card-body card-padding">
                    Open the right menu and select a scheme to visualize it.
                </div>
            </div>
        </div>

        <div class="container-fluid" ng-if="!queryingDataset">
            <div class="card" ng-show="scheme">
                <div class="card-body card-padding">

                    <div class="btn-group">
                        <button class="btn btn-default" ng-click="visType = 'sunburst'" ng-class="{'btn-primary': visType == 'sunburst'}">Sunburst</button>
                        <button class="btn btn-default" ng-click="visType = 'treemap'" ng-class="{'btn-primary': visType == 'treemap'}">Treemap</button>
                        <button class="btn btn-default" ng-click="visType = 'bilevel'" ng-class="{'btn-primary': visType == 'bilevel'}">BiLevel</button>
                        <button class="btn btn-default" ng-click="visType = 'packLayout'" ng-class="{'btn-primary': visType == 'packLayout'}">Pack Layout</button>

                        <button class="btn btn-default" ng-click="visType = 'force'" ng-class="{'btn-primary': visType == 'force'}">Force Layout</button>
                        <button class="btn btn-default" ng-click="visType = 'cluster'" ng-class="{'btn-primary': visType == 'cluster'}">Rotating Cluster</button>
                        <button class="btn btn-default" ng-click="visType = 'partition'" ng-class="{'btn-primary': visType == 'partition'}">Partition Layout</button>
                        <button class="btn btn-default" ng-click="visType = 'tree'" ng-class="{'btn-primary': visType == 'tree'}">Tree</button>
                        <button class="btn btn-default" ng-click="visType = 'radialTree'" ng-class="{'btn-primary': visType == 'radialTree'}">Radial tree</button>
                    </div>


                    <iframe width="100%" height="800" ng-src="{{embedUrl('sunburst')}}" ng-show="visType == 'sunburst'" frameborder="0"></iframe>
                    <iframe width="100%" height="800" ng-src="{{embedUrl('treemap')}}" ng-show="visType == 'treemap'" frameborder="0"></iframe>
                    <iframe width="100%" height="800" ng-src="{{embedUrl('bilevel')}}" ng-show="visType == 'bilevel'" frameborder="0"></iframe>
                    <iframe width="100%" height="800" ng-src="{{embedUrl('packLayout')}}" ng-show="visType == 'packLayout'" frameborder="0"></iframe>
                    <iframe width="100%" height="800" ng-src="{{embedUrl('force')}}" ng-show="visType == 'force'" frameborder="0"></iframe>
                    <iframe width="100%" height="800" ng-src="{{embedUrl('cluster')}}" ng-show="visType == 'cluster'" frameborder="0"></iframe>
                    <iframe width="100%" height="800" ng-src="{{embedUrl('partition')}}" ng-show="visType == 'partition'" frameborder="0"></iframe>
                    <iframe width="100%" height="800" ng-src="{{embedUrl('tree')}}" ng-show="visType == 'tree'" frameborder="0"></iframe>
                    <iframe width="100%" height="800" ng-src="{{embedUrl('radialTree')}}" ng-show="visType == 'radialTree'" frameborder="0"></iframe>

                </div>
            </div>
        </div>
    </section>
</div>