<div>


    <style>

        .pl .chart {
            display: block;
            margin: auto;
            margin-top: 60px;
            font-size: 11px;
        }

        .pl rect {
            stroke: #eee;
            fill: #aaa;
            fill-opacity: .8;
        }

        .pl rect.parent {
            cursor: pointer;
            fill: steelblue;
        }

        .pl text {
            pointer-events: none;
        }

        .sb path {
            stroke: #000;
            stroke-width: 1.5;
            cursor: pointer;
        }

        .sb text {
            font: 11px sans-serif;
            cursor: pointer;
        }

        .sb body {
            width: 880px;
            margin: 0 auto;
        }

        .sb h1 {
            text-align: center;
            margin: .5em 0;
        }

        .sb p#intro {
            text-align: center;
            margin: 1em 0;
        }


        .pl text {
            font-size: 11px;
            pointer-events: none;
        }

        .pl text.parent {
            fill: #1f77b4;
        }

        .pl circle {
            fill: #ccc;
            stroke: #999;
            pointer-events: all;
        }

        .pl circle.parent {
            fill: #1f77b4;
            fill-opacity: .1;
            stroke: steelblue;
        }

        .pl circle.parent:hover {
            stroke: #ff7f0e;
            stroke-width: .5px;
        }

        .pl circle.child {
            pointer-events: none;
        }

        .bl circle,
        .bl path {
            cursor: pointer;
        }

        .bl circle {
            fill: none;
            pointer-events: all;
        }


    </style>

    <aside id="chat">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt">
                <h2 class="lvh-label hidden-xs">Available schemes</h2>
            </div>

            <div class="lv-body">
                <div class="lv-item media" ng-repeat="scheme in schemes">
                    <div class="media-body">
                        <div class="lv-title">
                            <a href="{{uri(scheme)}}" ng-click="loadScheme(scheme)">
                                {{ scheme | label }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <section id="content">
        <div class="container" ng-if="queryingDataset">
            <div class="card">
                <div class="card-header bgm-red">
                    <h2>Querying the dataset.
                        <small>Please, wait.</small>
                    </h2>
                </div>

                <div class="card-body card-padding">
                    Right now, we are querying the dataset. It may take a few minutes
                    based on the size of the result and/or size of the graph the query is running against.
                    <br/><br/>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Almost complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" ng-if="!queryingDataset">
            <div class="card" ng-hide="scheme">
                <div class="card-header bgm-blue">
                    <h2>Select a scheme.</h2>
                </div>

                <div class="card-body card-padding">
                    Open the right menu and select a scheme to visualize it.
                </div>
            </div>
        </div>

        <div class="container-fluid" ng-if="!queryingDataset">
            <div class="card" ng-show="scheme">
                <div class="card-body card-padding">

                    <button class="btn btn-default" ng-click="visType = 'sunburst'">Sunburst</button>
                    <button class="btn btn-default" ng-click="visType = 'treemap'">Treemap</button>
                    <button class="btn btn-default" ng-click="visType = 'bilevel'">BiLevel</button>
                    <button class="btn btn-default" ng-click="visType = 'packLayout'">Pack Layout</button>

                    <div>
                        <div class="pl">
                            <treemap scheme="scheme" ng-show="visType == 'treemap'"></treemap>
                        </div>
                        <div class="sb">
                            <sunburst scheme="scheme" ng-show="visType == 'sunburst'"></sunburst>
                        </div>
                        <div class="pl">
                            <pack-layout scheme="scheme" ng-show="visType == 'packLayout'"></pack-layout>
                        </div>
                        <div class="bl">
                            <bilevel scheme="scheme" ng-show="visType == 'bilevel'"></bilevel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>