<div class="container">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label for="visualizerName">Visualizer name</label>

            <div>
                <input id="visualizerName" type="text" class="form-control" ng-model="visualizerName" placeholder="Visualizer name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="visualizerUrl">Visualizer URL</label>

            <div>
                <input id="visualizerUrl" type="text" class="form-control" ng-model="visualizerUrl" placeholder="Visualizer URL"/>
            </div>
        </div>
        <div class="form-group">
            <label for="visualizerSignature">Input signature (SPARQL ASK)</label>

            <div>
                <textarea id="visualizerSignature" class="form-control" ng-model="visualizerSignature" placeholder="Visualizer signature"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="visualizerDSDSignature">Input signature - DSD (SPARQL ASK)</label>

            <div>
                <textarea id="visualizerDSDSignature" class="form-control" ng-model="visualizerDSDSignature" placeholder="Visualizer DSD signature"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="visualizerDescription">Description</label>

            <div>
                <textarea id="visualizerDescription" class="form-control" ng-model="visualizerDescription" placeholder="Visualizer description"></textarea>
            </div>
        </div>
        <input type="submit" value="Add visualizer" class="btn btn-primary pull-right" ng-click="submit()" />
    </form>
</div>