<div>
    <div class="pull-right"><a ng-href="#/add" class="btn btn-success">Add new</a></div>
</div>
<table ng-table="tableParams" class="table table-striped">
    <tr ng-repeat="visualizationTuple in $data">
        <td data-title="'ID'">{{visualizationTuple.visualization.id}}</td>
        <td data-title="'Title'">{{visualizationTuple.visualization.name}}</td>
        <td data-title="'URL'">
            <strong>{{visualizationTuple.datasource.endpointUrl}}</strong>
            <p>{{visualizationTuple.datasource.namedGraphs}}</p>
        </td>

        <td data-title="'Actions'" style="min-width: 150px;">


        </td>
    </tr>
</table>