<div>
    <div class="pull-right"><a ng-href="#/add" class="btn btn-success">Add new</a></div>
</div>
<table ng-table="tableParams" class="table table-striped">
    <tr ng-repeat="visualizer in $data">
        <td data-title="'ID'">{{visualizer.id}}</td>
        <td data-title="'Title'">{{visualizer.name}}</td>
        <td data-title="'URL'">{{visualizer.url}}</td>
        <td data-title="'Signature'">{{visualizer.inputSignature}}</td>
        <td data-title="'DSD Signature'">{{visualizer.dsdInputSignature}}</td>
    </tr>
</table>