@(title: String, scripts: Html = Html(""), styles: Html = Html(""), requirePath: Option[String] = None, requireConfig: Html = Html(""))(content: Html)
@import play.api.Play
<!DOCTYPE html>
<html lang="en">
    <head>
        @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingHeader())
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>

        @scripts

        <script>
            var require = {
                callback: function() {
                    // default requirejs configs
                    @for(webJarJson <- org.webjars.RequireJS.getSetupJson(routes.WebJarAssets.at("").url).values()) {
                        requirejs.config(@Html(webJarJson.toString));
                    }

                    requirejs.config({
                        "paths":{
                            "material":['@routes.Assets.versioned("javascripts/material/functions.js").url.replace(".js", "")'],
                            "nicescroll": ['@routes.Assets.versioned("vendors/nicescroll/jquery.nicescroll").url.replace(".js", "")'],
                            "flot-resize": ['@routes.Assets.versioned("vendors/flot/jquery.flot.resize").url.replace(".js", "")'],
                            "jquery-sparkline": ['@routes.Assets.versioned("vendors/sparklines/jquery.sparkline").url.replace(".js", "")'],
                            "curved-lines": ['@routes.Assets.versioned("vendors/flot/plugins/curvedLines").url.replace(".js", "")'],
                            "jquery-easypiechart": ['@routes.Assets.versioned("vendors/easypiechart/jquery.easypiechart").url.replace(".js", "")'],
                            "waves":  ['@routes.Assets.versioned("vendors/waves/waves").url.replace(".js", "")'],
                            "input-mask":  ['@routes.Assets.versioned("vendors/input-mask/input-mask").url.replace(".js", "")'],
                            "fileinput":  ['@routes.Assets.versioned("vendors/fileinput/fileinput").url.replace(".js", "")'],
                            "auto-size":  ['@routes.Assets.versioned("vendors/auto-size/jquery.autosize").url.replace(".js", "")'],
                            "sweet-alert":  ['@routes.Assets.versioned("vendors/sweet-alert/sweet-alert").url.replace(".js", "")'],
                            "pipeline-visualizer":  ['@routes.Assets.versioned("javascripts/lib/pipelineVisualizer").url.replace(".js", "")']
                        },
                        "shim":{
                            "nicescroll": ['jquery'],
                            "flot-resize": ['jquery.flot'],
                            "curved-lines": ['jquery.flot'],
                            "jquery-sparkline": ['jquery'],
                            "jquery-easypiechart": ['jquery'],
                            "jquery.colorhelpers": ['jquery'],
                            "input-mask": ['jquery'],
                            "fileinput": ['jquery'],
                            "auto-size": ['jquery']
                        }
                    });

                    @Html(requireConfig.toString().replace("<script>","").replace("</script>",""))
                }
            };
        </script>

        @requirePath.map { p =>
            <script data-main="@p" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.js"))"></script>
        }

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/material/css/app.css")'>

        <link href="@routes.Assets.versioned("vendors/fullcalendar/fullcalendar.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("vendors/animate-css/animate.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("vendors/sweet-alert/sweet-alert.min.css")" rel="stylesheet">

        @styles

    </head>
    <body>

        @Play.current.configuration.getString("analytics.ua").map { ua =>
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-@ua', 'auto');
                ga('send', 'pageview');
            </script>
        }

        <header id="header">
            <ul class="header-inner">
                <li id="menu-trigger" data-trigger="#sidebar">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>

                <li class="logo hidden-xs">
                    <a href="/">LDVMi</a>
                </li>

                <li class="pull-right">
                    <ul class="top-menu">
                        <li id="toggle-width">
                            <div class="toggle-switch">
                                <input id="tw-switch" type="checkbox" hidden="hidden">
                                <label for="tw-switch" class="ts-helper"></label>
                            </div>
                        </li>
                        <li id="top-search">
                            <a class="tm-search" href=""></a>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="tm-settings" href=""></a>
                            <ul class="dropdown-menu dm-icon pull-right">
                                <li>
                                    <a data-action="fullscreen" href=""><i class="md md-fullscreen"></i>
                                        Toggle Fullscreen</a>
                                </li>
                                <li>
                                    <a data-action="clear-localstorage" href=""><i class="md md-delete"></i>
                                        Clear Local Storage</a>
                                </li>
                                <li>
                                    <a href=""><i class="md md-person"></i> Privacy Settings</a>
                                </li>
                                <li>
                                    <a href=""><i class="md md-settings"></i> Other Settings</a>
                                </li>
                            </ul>
                        </li>
                        <li class="hidden-xs" id="chat-trigger" data-trigger="#chat">
                            <a class="tm-chat" href=""></a>
                        </li>
                    </ul>
                </li>
            </ul>

                <!-- Top Search Content -->
            <div id="top-search-wrap">
                <input type="text">
                <i id="top-search-close">&times;</i>
            </div>
        </header>

        <section id="main">
            <aside id="sidebar">
                <div class="sidebar-inner">
                    <div class="si-inner">
                        <div class="profile-menu">
                            <a href="">
                                <div class="profile-pic">
                                    <img src="img/profile-pics/1.jpg" alt="">
                                </div>

                                <div class="profile-info">
                                    LDVM user

                                    <i class="md md-arrow-drop-down"></i>
                                </div>
                            </a>

                            <ul class="main-menu">
                                <li>
                                    <a href=""><i class="md md-person"></i> View Profile</a>
                                </li>
                                <li>
                                    <a href=""><i class="md md-settings-input-antenna"></i> Privacy Settings</a>
                                </li>
                                <li>
                                    <a href=""><i class="md md-settings"></i> Settings</a>
                                </li>
                                <li>
                                    <a href=""><i class="md md-history"></i> Logout</a>
                                </li>
                            </ul>
                        </div>

                        <ul class="main-menu">
                            <li class="active"><a href="/"><i class="md md-home"></i> Home</a></li>
                            <li>
                                <a href="/pipelines#/list"><i class="md md-settings-input-component"></i> Pipelines</a>
                            </li>
                            <li>
                                <a href="/components#/"><i class="md md-now-widgets"></i> Components</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

            <section id="content">
            @content
            </section>
        </section>

        @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingFooter())
    </body>
</html>
