@(
        ngAppName: String,
        title: String,
        scripts: Html = Html(""),
        styles: Html = Html(""),
        requireConfig: Html = Html("")
        )

@import play.api.Play
<!DOCTYPE html>
<html lang="en">
    <head>
        @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingHeader())
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>

        @scripts

        <script>
            var require = {
                callback: function() {
                    // default requirejs configs
                    @for(webJarJson <- org.webjars.RequireJS.getSetupJson(routes.WebJarAssets.at("").url).values()) {
                        requirejs.config(@Html(webJarJson.toString)
            );
                                }

                    requirejs.config({
                        "paths":{
                            "material":['@routes.Assets.versioned("javascripts/material/functions.js").url.replace(".js", "")'],
                            "nicescroll": ['@routes.Assets.versioned("vendors/nicescroll/jquery.nicescroll").url.replace(".js", "")'],
                            "flot-resize": ['@routes.Assets.versioned("vendors/flot/jquery.flot.resize").url.replace(".js", "")'],
                            "jquery-sparkline": ['@routes.Assets.versioned("vendors/sparklines/jquery.sparkline").url.replace(".js", "")'],
                            "curved-lines": ['@routes.Assets.versioned("vendors/flot/plugins/curvedLines").url.replace(".js", "")'],
                            "jquery-easypiechart": ['@routes.Assets.versioned("vendors/easypiechart/jquery.easypiechart").url.replace(".js", "")'],
                            "waves":  ['@routes.Assets.versioned("vendors/waves/waves").url.replace(".js", "")'],
                            "input-mask":  ['@routes.Assets.versioned("vendors/input-mask/input-mask").url.replace(".js", "")'],
                            "fileinput":  ['@routes.Assets.versioned("vendors/fileinput/fileinput").url.replace(".js", "")'],
                            "auto-size":  ['@routes.Assets.versioned("vendors/auto-size/jquery.autosize").url.replace(".js", "")'],
                            "sweet-alert":  ['@routes.Assets.versioned("vendors/sweet-alert/sweet-alert").url.replace(".js", "")'],
                            "pipeline-visualizer":  ['@routes.Assets.versioned("javascripts/lib/pipelineVisualizer").url.replace(".js", "")'],
                            "markerclusterer":  ['@routes.Assets.versioned("javascripts/lib/gmaps-clusterer").url.replace(".js", "")'],
                            "underscore.string": ['@routes.WebJarAssets.at(WebJarAssets.locate("underscore.string.min.js")).url.replace(".js", "")']
                        },
                        "shim":{
                            "nicescroll": ['jquery'],
                            "flot-resize": ['jquery.flot'],
                            "curved-lines": ['jquery.flot'],
                            "jquery-sparkline": ['jquery'],
                            "jquery-easypiechart": ['jquery'],
                            "jquery.colorhelpers": ['jquery'],
                            "input-mask": ['jquery'],
                            "fileinput": ['jquery'],
                            "auto-size": ['jquery']
                        }
                    });

                    @Html(requireConfig.toString().replace("<script>", "").replace("</script>", ""))
                }
            };
        </script>

        <script data-main="/assets/javascripts/angular/@ngAppName/main.js" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.js"))"></script>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/material/css/app.css")'>

        <link href="@routes.Assets.versioned("vendors/fullcalendar/fullcalendar.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("vendors/animate-css/animate.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("vendors/sweet-alert/sweet-alert.min.css")" rel="stylesheet">


        <style>
            .my-drop-zone { border: dotted 3px lightgray; }
            .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
            .another-file-over-class { border: dotted 3px green; }

            html, body { height: 100%; }
        </style>
        @styles

    </head>
    <body>

        <div id="app" ng-controller="LayoutController">
            <header id="header">
                <ul class="header-inner">
                    <li id="menu-trigger" data-trigger="#sidebar">
                        <div class="line-wrap">
                            <div class="line top"></div>
                            <div class="line center"></div>
                            <div class="line bottom"></div>
                        </div>
                    </li>

                    <li class="logo hidden-xs">
                        <a href="/">LinkedPipes Visualization</a>
                    </li>

                    <li class="pull-right">
                        <ul class="top-menu">
                            <li id="toggle-width">
                                <div class="toggle-switch">
                                    <input id="tw-switch" type="checkbox" hidden="hidden">
                                    <label for="tw-switch" class="ts-helper"></label>
                                </div>
                            </li>
                            <li id="chat-trigger" data-trigger="#chat">
                                <a class="tm-chat" href=""></a>
                            </li>
                        </ul>
                    </li>
                </ul>

                    <!-- Top Search Content -->
                <div id="top-search-wrap">
                    <input type="text">
                    <i id="top-search-close">&times;</i>
                </div>
            </header>

            <section id="main">
                <aside id="sidebar">
                    <div class="sidebar-inner">
                        <div class="si-inner">
                            <ul class="main-menu">
                                <li class="active"><a href="/"><i class="md md-home"></i> Home</a></li>
                                <li>
                                    <a href="/pipelines#/list"><i class="md md-settings-input-component"></i>
                                        Pipelines</a>
                                </li>
                                <li>
                                    <a href="/components#/"><i class="md md-now-widgets"></i> Components</a>
                                </li>
                                <li>
                                    <a href="/#/validators"><i class="md md-spellcheck"></i> Validators</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>

                <section id="content" ng-view>
                    <p class="text-center">
                        Getting ready...
                    </p>
                </section>
            </section>
        </div>
        @Play.current.configuration.getString("analytics.ua").map { ua =>
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-@ua', 'auto');
                ga('send', 'pageview');
            </script>
        }

        @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingFooter())
    </body>
</html>
