@()
<!DOCTYPE html>
<html lang="en">
	<head>
		@Html(com.newrelic.api.agent.NewRelic.getBrowserTimingHeader())
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>React</title>
		<script src="@routes.Assets.at("javascripts/react/main.js")"></script>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
		<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
	</head>
	<body>
		<div id="approot"></div>
		@Html(com.newrelic.api.agent.NewRelic.getBrowserTimingFooter())
	</body>
</html>