@(message: String)


@main("DataCube") {



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Payola visualizations</h1>
        <p>This application is a part of the Payola platform. Its goal is to provide visualizations of Linked Data datasets. You can use it with your own SPARQL Endpoint.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    Working on it.

    <hr>

    <footer>
        <p>&copy; Payola 2014</p>
    </footer>
</div> <!-- /container -->

}
